@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Montserrat:wght@400;500;700;800&display=swap");

$white: #eee7f7;
$violet: #5f4799;
$dark: #230644;
$yellow: rgb(212, 182, 9);
$purple: linear-gradient(to right, #5f4799, #43107c);

:root {
    font-size: 15px !important;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "montserrat", Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: clamp(2.5rem, 5vmax, 4.5rem) !important;
    color: #146412;
}

h2 {
    font-size: clamp(2rem, 3vmax, 2.5rem) !important;
    width: 80%;
    margin: 0 auto;
    font-family: "crimson", "Times New Roman", Times, serif;
}

h3 {
    font-size: clamp(1.3rem, 2vmax, 1.5rem) !important;
}

$buttonFont: 1rem;
$buttonPadding: 0.5em 1em;

[data-scroll] {
    transition: all 0.8s;
}

[data-scroll="in"] {
    transform: translateX(0);
    opacity: 1;
}

[data-scroll="out"] {
    opacity: 0.3;
    transform: translateX(-100px);
}

.button {
    padding: $buttonPadding;
    font-size: $buttonFont;
    text-decoration: none;
    border-radius: 0.3em;
    cursor: pointer;
}

.searchbar {
    width: 80%;
    margin: 2em auto;
    display: flex;

    input {
        padding: $buttonPadding;
        border-radius: 0.3em 0 0 0.3em;
        background-color: white;
        color: $dark;
        width: 80%;
        border: 1px solid #ddd;
        outline: none;
    }

    input:focus {
        border: 3px solid rgba(95, 71, 153, 1) !important;
    }

    button {
        width: 20%;
        background-color: $violet;
        background-image: $purple;
        color: white;
        outline: none;
        border: none;
        border-radius: 0 0.3em 0.3em 0;
        transition: all 0.5s;
        cursor: pointer;
    }

    button:hover {
        background-color: $dark;
        background-image: none;
        font-weight: bold;
    }
}

// FORMULIR
form {
    width: 100%;
    display: flex;
    flex-direction: column;

    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;

        label {
            margin-bottom: 0.5em;
        }

        .text-input {
            color: $dark;
            padding: $buttonPadding;
            border-radius: 0.3em;
            outline: none;
            border: 1px solid rgb(212, 212, 212);
        }

        .text-input:focus {
            border: 3px solid rgb(43, 144, 226);
        }

        .file-input {
            opacity: 0;
            height: 0.2px;
        }

        .file-inline {
            display: flex;
            width: 100%;

            .file-button {
                color: white;
                background-color: $violet;
                background-image: $purple;
                margin: 0em 0.5em 0.5em 0 !important;
                width: max-content !important;
                font-size: 0.8em;
            }

            .file-preview {
                padding: $buttonPadding;
                background-color: white;
                border-radius: 0.3em;
                font-size: 0.8em;
                border: 1px solid rgb(212, 212, 212);
            }
        }

        small {
            margin-top: 0.3em;
            opacity: 0.8;
        }

        .select-input {
            width: 100%;
            padding: $buttonPadding;
            border-radius: 0.3em;
            outline: none;
            border: 1px solid rgb(212, 212, 212);

            option {
                width: 80% !important;
                padding: $buttonPadding;
                border-radius: 0.3em;
                color: $dark;
            }
        }

        .select-input:focus {
            border: 3px solid rgb(43, 144, 226);
        }

        .form-inline {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1em;
        }
    }

    .button {
        outline: none;
        transition: all 0.5s;
        margin-top: 1em;
        border: none;
        background-color: $violet;
        background-image: $purple;
        color: white;
        transition: all 0.5s;
    }

    .button:hover {
        font-weight: bold;
        background-color: $dark;
        background-image: none;
    }
}

// AKHIR FORMULIR
// Error handling
.errors-message {
    font-size: 0.8rem;
    color: #bb1a2a !important;
    display: none;
    margin-top: 5px;
    margin-left: 5px;
    // background-color: #f8d7da;
    padding: 5px 10px;
    border-radius: 5px;
}

.invalid {
    border: 2px solid #dc3545 !important;
    color: #dc3545 !important;
}

.invalid ~ .errors-message {
    display: block !important;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.3em;
    width: 70%;
    text-align: center;
    margin: 1em auto !important;
    text-transform: capitalize;
    font-weight: bold;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #bb1a2a;
    background-color: #f5bbc0;
    border-color: #f5c6cb;
}

// AKHIR ERROR HANDLING
/* NAVBAR */
nav {
    background-color: $dark;
    display: flex;
    padding: 0.5em 2em;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 50;

    .logo {
        letter-spacing: 3px;
        display: flex;
        align-items: center;
        z-index: 51;
    }

    .logo a {
        display: flex;
        align-items: center;

        .gambar-logo {
            height: 1.5em;
            transition: all 0.5s;
        }

        .gambar-logo:hover {
            transform: scale(1.1);
        }
    }

    ul {
        list-style: none;
        justify-content: space-evenly;
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        background-color: $dark;
        z-index: 2;
        align-items: center;
        opacity: 0;
        transform: translateY(-100%);
        transition: 1s;
        margin: 0px;

        li a {
            color: $white;
            opacity: 0.8;
            font-size: 0.8rem;
            text-decoration: none;
        }

        li a:hover {
            font-weight: bold;
        }

        li a.active {
            font-weight: bold;
            opacity: 1;
            color: white;
        }
    }

    ul.slide {
        opacity: 1;
        transform: translateY(0);
    }

    .menu-toggle {
        height: 20px;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        align-items: center;
        position: relative;
        z-index: 100;
        display: flex;
        margin-right: 1em;
    }

    .menu-toggle span {
        display: block;
        height: 3px;
        width: 28px;
        background-color: $white;
        opacity: 0.8;
        border-radius: 5px;
        transition: all 0.5s;
    }

    .menu-toggle span:nth-child(1) {
        transform-origin: 0 0;
    }

    .menu-toggle span:nth-child(3) {
        transform-origin: 0 100%;
    }

    .menu-toggle .topburger {
        opacity: 1;
        background-color: white;
        transform: rotate(45deg) translate(-1px, -1px);
    }

    .menu-toggle .midburger {
        transform: scale(0);
    }

    .menu-toggle .bottomburger {
        opacity: 1;
        background-color: white;
        transform: rotate(-45deg) translate(-1px, 0px);
    }

    .login-nav {
        background-color: yellow;
        padding: 0.5em 1em;
        border-radius: 3px;
        color: $dark;
        opacity: 0.9;
        width: 100% !important;
        transition: all 0.5s;
    }

    .login-nav.active {
        color: $dark;
        opacity: 1;
        font-weight: bold;
    }

    .login-nav:hover {
        opacity: 1;
    }
}

// AKHIR NAVBAR
// HERO HOME
.hero {
    height: 100vh;
    padding: 2em;

    .hero-words {
        h1 {
            text-transform: capitalize;
            color: white;
        }

        .hero-subtitle {
            display: flex;
            align-items: center;
            width: 100% !important;

            h4 {
                color: yellow;
                width: max-content !important;
            }

            .line {
                flex-grow: 1;
                margin-left: 0.5em;

                hr {
                    width: 100%;
                    border: 2px solid yellow;
                    background-color: yellow;
                    border-radius: 5px;
                }
            }
        }

        .hero-link {
            margin-top: 3em;
            display: flex;
            width: 50%;
            flex-wrap: wrap;

            a {
                margin: 0.3em;
            }

            a:nth-child(1) {
                background-color: yellow;
                border: 2px solid yellow;
                color: $dark;
                transition: all 0.5s;
            }

            a:nth-child(1):hover {
                background-color: $yellow;
                border: 2px solid $yellow;
                font-weight: bold;
            }

            a:nth-child(2) {
                border: 2px solid yellow;
                color: yellow;
            }

            a:nth-child(2):hover {
                border: 2px solid yellow;
                color: yellow;
                font-weight: bold;
            }
        }
    }
}

.hero.home {
    background-image: url(../img/hero-home.jpg);
    background-position: center;
    background-size: cover;
    background-position-y: bottom;
    background-attachment: fixed;
}

// AKHIR HOME
// NEWS
.news {
    background-color: $white;
    color: $dark;
    padding: 3em 2.5em;

    h2 {
        text-align: center;
        margin-bottom: 1em;
    }

    .glide__arrow {
        color: $dark !important;
        border: 2px solid rgba(35, 6, 68, 0.5);
        opacity: 0.3 !important;
    }

    .news-item {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
        align-items: center;
        margin-left: -2.7em;

        img {
            width: 100%;
        }

        .news-words {
            h3 {
                text-transform: capitalize;
                margin-bottom: 0.5em;
            }

            p.button {
                // background-color: yellow;
                background-color: $violet;
                background-image: $purple;
                // color: $dark;
                color: white;
                margin-top: 1em;
                width: fit-content;
                cursor: pointer;
                opacity: 1;
                transition: all 0.5s;
            }

            p {
                opacity: 0.8;
            }

            p.button:hover {
                // background-color: $yellow;
                background-color: $dark;
                background-image: none;
                font-weight: bold;
            }
        }
    }

    .modal {
        display: flex;

        .modal-container {
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.6);
            overflow: hidden;
            display: flex;
            place-items: center;
            color: $dark;
            width: 0px;
            height: 0px;
            transition: all 0.5s;
            z-index: -1;

            .modal-item {
                position: relative;
                background-color: white;
                width: 90% !important;
                max-height: 90% !important;
                overflow-y: auto !important;
                margin: auto auto !important;
                outline: 0;
                border-radius: 0.5em;
                border: 10px solid white;
                display: grid;
                grid-template-columns: 1fr;
                gap: 10px;

                hr {
                    opacity: 0.6;
                    width: 100%;
                }

                .close-modal {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 10px;
                    align-items: center;
                    position: sticky;
                    background-color: white;
                    top: 0;
                    z-index: 5;

                    h2 {
                        margin-top: 0px !important;
                        margin-bottom: 0px !important;
                        text-transform: capitalize;
                    }

                    a {
                        margin-left: 10px;
                        text-decoration: none;
                        opacity: 0.5;
                        font-size: 1.5rem;
                        font-weight: bold;
                        color: $dark;
                        transition: all 0.5s;
                    }

                    a:hover {
                        opacity: 1;
                        font-size: 2rem;
                    }
                }

                .modal-body {
                    display: grid;
                    grid-template-columns: 1fr;

                    .img-modal {
                        height: 40% !important;
                        text-align: center;
                    }

                    img {
                        width: 90%;
                        border-radius: 0.5em;
                    }

                    .keterangan-modal {
                        padding: 20px;
                        line-height: 2em;
                        text-align: justify;
                        .subtitle {
                            opacity: 0.5;
                            margin-top: 0px;
                            margin-bottom: 1em;
                        }
                    }
                }
            }

            .modal-item::-webkit-scrollbar {
                display: none;
            }
        }

        .modal-container.open {
            z-index: 1050;
            width: 100%;
            height: 100%;
        }
    }

    .glide__slide {
        opacity: 0.6;
        transition: 0.1s linear;
        display: flex;
        place-content: center;
    }

    .glide__slide--active {
        filter: none;
        opacity: 1;
        z-index: 2;
    }

    .glide__slides {
        overflow: visible;
        display: flex;
        place-content: center;
    }
}

// AKHIR NEWS
// MATERI-HOME
.materi-home {
    padding: 3em 1em;
    background-color: $white;
    color: $dark;

    h2 {
        text-align: center;
        margin-bottom: 1em;
    }

    h3 {
        text-align: center;
        color: #bb1a2a;
    }

    .materi-container {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(130px, 0.5fr));

        .materi-item {
            width: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            height: 100%;
            border-radius: 0.3em;
            box-shadow: -8px -8px 16px 0 rgba(255, 255, 255, 1),
                5px 5px 15px 0 rgba(35, 6, 68, 0.3);

            img {
                width: 100% !important;
                height: 9em;
                border-radius: 0.3em 0.3em 0em 0em;
                filter: contrast(1.2);
                transition: all 0.5s;
                margin-bottom: 0.53em;
            }

            img:hover {
                transform: scale(1.1);
            }

            .materi-item-words {
                display: flex;
                flex-direction: column;
                padding: 0.8em;
                border-radius: 0em 0em 0.3em 0.3em;
                justify-content: space-between;
                height: 100%;

                h4 {
                    font-weight: normal;
                    margin-bottom: 1em;
                }

                .button {
                    background-color: $violet;
                    background-image: $purple;
                    color: white;
                    text-align: center;
                    transition: all 0.5s;
                }

                .button:hover {
                    border: 2px solid $violet;
                    background-image: none;
                    font-weight: bold;
                    background-color: $dark;
                }
            }
        }
    }
}

.materi-home.index {
    min-height: 100vh;
}

// AKHIR MATERI-HOME
// VIDEO
.video {
    padding: 3em 2.5em;
    background-color: $violet;
    background-image: $purple;
    color: white;
    border: 2px solid $violet;

    h2 {
        text-align: center;
        margin-bottom: 1em;
    }

    .container-video {
        margin: 0px auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em !important;
        align-items: center;

        iframe {
            min-height: 20em;
        }

        .video-words {
            h3 {
                color: yellow;
                margin-bottom: 0.5em;
            }

            p {
                opacity: 0.8;
            }

            .medsos {
                margin-top: 1em;

                a {
                    color: white;
                    transition: all 0.5s;

                    i {
                        font-size: 3em;
                        opacity: 0.8;
                    }
                }

                a:nth-child(1) {
                    margin: 0 1em;
                }

                a:hover {
                    color: yellow;
                }
            }
        }
    }
}

// AKHIR VIDEO
// PRESTASI
.prestasi {
    padding: 3em 2.5em;
    background-color: $violet;
    background-image: $purple;
    color: white;

    h2 {
        text-align: center;
        margin-bottom: 0.5em;
    }

    .subtitle {
        text-align: center;
        opacity: 0.8;
        margin-bottom: 2em;
    }

    .prestasi-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
        margin-bottom: 4em;
        align-items: center;

        .gambar-prestasi {
            img {
                width: 100%;
                max-height: 20em;
                border-radius: 0.3em;
                filter: contrast(1.2);
            }

            img:hover {
                filter: grayscale(90%);
            }

            h1 {
                font-family: "crimson", "Times New Roman", Times, serif;
                font-size: clamp(4rem, 5vmax, 5rem) !important;
                text-shadow: 2px -5px 3px black;
                margin-top: -0.7em !important;
                padding-left: 0.1em;
                position: absolute;
            }
        }

        .prestasi-words {
            h3 {
                margin-bottom: 0.5em;
                color: yellow;
            }

            p {
                opacity: 0.8;
            }

            ul {
                padding: 1em;
            }
        }
    }
}

// AKHIR PRESTASI

// DETAIL-MATERI
.detail-materi {
    background-color: $white;

    .materi-judul {
        color: white;
        background-color: $violet;
        background-image: $purple;
        padding: 2em;

        h1 {
            text-align: center;
        }
    }

    .materi-main {
        color: $dark;
        border-radius: 0.3em;

        img {
            width: 100%;
            margin-bottom: 1em;
            border-radius: 0.3em;
        }

        .materi-words {
            padding: 3em;

            h2 {
                margin-bottom: 1em;
                line-height: 1.5em;
            }

            .subtitle {
                opacity: 0.5;
            }

            .isi-materi {
                p,
                li {
                    text-align: justify !important;
                    line-height: 2em;
                }
            }

            ul,
            ol {
                padding: 0 2em;
            }
        }
    }

    .materi-side {
        color: white;
        background-color: $violet;
        background-image: $purple;
        padding: 2em 2.5em;

        h3 {
            color: yellow;
            margin-bottom: 0.5em;
            text-align: center;
        }

        .searchbar {
            button {
                background-color: yellow !important;
                background-image: none;
                color: $dark;
                transition: all 0.5s;
            }

            button:hover {
                background-color: $yellow !important;
            }
        }

        ul {
            width: 80%;
            margin: 0px auto;
            list-style: none;

            li {
                line-height: 2.5em;

                a {
                    color: white;
                    display: flex;
                    align-items: center;
                    text-decoration: none;

                    img {
                        height: 1.2em;
                        margin-right: 1em;
                    }
                }

                a:hover {
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }
    }
}

// AKHIR DETAIL-MATERI
// KEGIATAN
.kegiatan {
    background-color: $white;
    color: $dark;
    padding: 3em 0 0 0;

    h2 {
        text-align: center;
        margin-bottom: 0.5em;
    }

    .kegiatan-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
        padding: 2em 2.5em;
        margin-bottom: 1em;

        img {
            width: 100%;
            border-radius: 0.3em;
            transition: all 0.5s;
        }

        img:hover {
            transform: scale(1.05);
        }

        .kegiatan-words {
            h3 {
                margin-bottom: 0.5em;
            }

            p {
                opacity: 0.8;
                line-height: 1.5em;
            }
        }

        .button {
            opacity: 1 !important;
            background-color: $violet;
            background-image: $purple;
            color: white;
            margin-top: 1em;
            width: fit-content;
            transition: all 0.5s;
            cursor: pointer;
        }

        .button:hover {
            background-color: $dark;
            background-image: none;
            font-weight: bold;
        }
    }

    .kegiatan-container.kategori {
        padding: 3em inherit;
    }

    .daftar-giat {
        background-color: $violet;
        background-image: $purple;
        color: white;
        transform: translateY(100vh);
        display: none;
        padding: 2em 0;
        transition: all 0.5s;

        h3 {
            color: yellow;
        }
    }

    .daftar-giat.display {
        display: block;
    }

    .daftar-giat.show {
        transform: translateY(0);
        transition: all 0.5s;
    }
}

// AKHIR KEGIATAN
// ABOUT
.kontak {
    padding: 3em 0;
    background-color: $violet;
    background-image: $purple;
    color: white;

    h2 {
        margin-bottom: 1em;
        text-align: center;
    }

    .kontak-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
        align-items: center;

        .map {
            width: 100% !important;
            border-radius: 0.3em;
            height: 20em;
        }

        .kontak-words {
            padding: 0 2.5em;

            img {
                max-height: 2em;
                margin-bottom: 0.5em;
            }

            ul {
                list-style: none;
                padding: 1em;
                line-height: 3em;

                li {
                    a {
                        text-decoration: none;
                        color: white;

                        i {
                            font-size: 1.5em;
                            margin-right: 0.5em;
                        }
                    }

                    a:hover {
                        font-weight: bold;
                        color: yellow;
                    }
                }
            }
        }
    }
}

.about {
    background-color: $white;
    padding: 3em;
    color: $dark;

    .about-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3em;
        margin: 0 auto;

        .about-item {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2em;
            height: fit-content;

            img {
                margin: 0px auto;
                max-height: 15em;
            }

            .about-words {
                h3 {
                    margin-bottom: 0.5em;
                }

                p {
                    line-height: 2em;
                    text-align: justify;
                }
            }
        }
    }
}

// AKHIR ABOUT
// PENGURUS
.pengurus {
    background-color: $white;
    color: $dark;
    padding-top: 3em;

    h2 {
        margin-bottom: 0.5em;
        text-align: center;
    }

    .kategori {
        padding: 2em 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;

        img {
            width: 100%;
            max-height: 20em;
            filter: contrast(1.1);
            transition: all 0.5s;
            border-radius: 0.3em;
        }

        img:hover {
            transform: scale(1.05);
        }

        .kategori-words {
            padding: 0 3em;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;

            h3 {
                margin-bottom: 1em;
            }

            .button {
                background-color: $violet;
                background-image: $purple;
                color: white;
                transition: all 0.5s;
                width: fit-content;
            }

            .button:hover {
                background-image: none;
                background-color: $dark;
                font-weight: bold;
            }
        }
    }

    .daftar-pengurus {
        display: none;
        padding: 3em 1em;
        background-color: $violet;
        background-image: $purple;
        color: white;
        transform: translateY(100%);
        transition: all 0.5s;

        .daftar-container {
            display: grid;
            gap: 1em;
            grid-template-columns: repeat(auto-fit, minmax(130px, 0.5fr));

            .pengurus-container {
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: 60%;
                    border-radius: 50%;
                    height: 7em;
                    z-index: 5;
                    position: relative;
                    transition: all 0.5s;
                }

                img:hover {
                    transform: scale(1.1);
                }

                .pengurus-words {
                    padding: 4em 1em 1em 1em;
                    margin-top: -2em;
                    text-align: center;
                    border-radius: 0.3em;
                    height: 100%;
                    width: 100%;
                    background-color: $white;
                    color: $dark;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    h4 {
                        margin-bottom: 0.5em;
                        text-transform: capitalize !important;
                    }

                    p {
                        margin-bottom: 1em;
                    }

                    .pengurus-medsos {
                        display: flex;
                        justify-content: space-evenly;

                        a {
                            color: $violet;
                            font-size: 2em;
                        }

                        a:hover {
                            color: $dark;
                        }
                    }
                }
            }
        }
    }

    .daftar-pengurus.display {
        display: block;
    }

    .daftar-pengurus.show {
        transform: translateY(0);
        transition: all 0.5s;
    }
}

// AKHIR PENGURUS
// LOGIN
.login {
    background-color: $white;
    background-image: $purple;
    color: $dark;
    padding: 3em;
    min-height: 90vh;
    display: flex;

    h2 {
        margin-bottom: 1em;
        text-align: center;
    }

    .login-container {
        padding: 3em 2em;
        background-color: $white;
        width: 100%;
        margin: auto auto;
        border-radius: 0.3em;

        .alert {
            width: 100%;
        }

        form {
            .form-group {
                flex-direction: row;
                align-items: center;

                label {
                    font-size: 1.2em;
                    margin: 0.8em;
                }

                input {
                    width: 100%;
                    height: fit-content;
                }
            }

            .button {
                background-color: $violet;
                background-image: $purple;
                color: white;
            }

            .button:hover {
                background-color: $dark;
                background-image: none;
            }
        }
    }
}

// AKHIR LOGIN
// DASHBOARD
.dashboard {
    background-color: $violet;
    background-image: $purple;
    color: white;
    min-height: 93vh;
    padding: 3em;
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
    }

    .dashboard-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3em;
        margin: auto auto;
        width: 100%;

        a {
            color: white;
            text-align: center;
            font-size: 3em;
            transition: all 0.5s;
        }

        a:hover {
            color: yellow;
        }
    }
}

// AKHIR DASHBOARD
// CRUD
.crud {
    padding: 3em;
    color: $dark;
    min-height: 93vh;

    h2 {
        text-align: center;
        margin-bottom: 0.5em;
    }
}

.crud-link {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5em;

    .button.edit {
        background-color: $white !important;
        background-image: none !important;
        border: 2px solid steelblue;
        color: steelblue !important;
        margin: 0;
    }

    .button.edit:hover {
        border: 1px solid steelblue !important;
        background-color: steelblue !important;
        color: white !important;
    }

    .button.delete {
        background-color: $white !important;
        margin: 0;
        background-image: none !important;
        border: 2px solid #dc3545;
        color: #dc3545 !important;
    }

    .button.delete:hover {
        border: 1px solid #dc3545 !important;
        background-color: #dc3545 !important;
        color: white !important;
    }
}

.crud-head {
    display: grid;
    grid-template-columns: 1fr;

    .create {
        background-color: green;
        color: white;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 1.5em;
        transition: all 0.5s;
    }

    .create:hover {
        background-color: darkgreen;
        font-weight: bold;
    }

    .searchbar {
        margin: 1em auto;
    }

    .jumlah-anggota {
        display: flex;
        justify-content: space-evenly;
        font-size: 1.3em;
        margin-bottom: 1.5em;
    }
}

.welcome-message {
    padding: 3em;
    background-color: $violet;
    background-image: $purple;
    color: white;
    display: flex;
    min-height: 95vh;

    .welcome-words {
        width: 80%;
        margin: auto auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            color: yellow;
            text-align: center;
        }

        h3 {
            color: white;
            text-align: center;
            margin-bottom: 1em;
        }

        p {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            opacity: 0.8;
        }

        .button {
            background-color: yellow;
            color: $dark;
            transition: all 0.5s;
            margin-top: 2em;
        }

        .button:hover {
            font-weight: bold;
            background-color: $yellow;
        }
    }
}

// AKHIR CRUD
// FOOTER
footer {
    background-color: $dark;
    color: $white;
    padding: 0.5em 2em;
    position: relative !important;
    bottom: 0 !important;

    a {
        color: $white;
        text-decoration: none;
    }
}

// AKHIR FOOTER

// TABLET
@media screen and (min-width: 641px) {
    :root {
        font-size: 16px !important;
    }

    $buttonFont: clamp(1.1rem, 1vmax, 1.3rem);

    .searchbar {
        width: 50%;
    }

    // HERO
    .hero {
        padding: 4em 3em;

        .hero-words {
            width: 70%;
        }
    }

    // AKHIR HERO
    // NEWS
    .news-item {
        width: 70% !important;
        grid-template-columns: 1fr 1fr !important;

        img {
            max-height: 20em;
        }
    }

    .modal-body {
        grid-template-columns: 1fr 1fr !important;
    }

    // AKHIR NEWS
    // MATERI-HOME
    .materi-home {
        .materi-container {
            width: 80% !important;
            margin: 0px auto;
            grid-template-columns: repeat(auto-fit, minmax(150px, 0.4fr));

            .materi-item {
                img {
                    min-height: 12em !important;
                }
            }
        }
    }

    // AKHIR MATERI-HOME
    // VIDEO
    .video {
        .container-video {
            width: 70%;
            grid-template-columns: 1fr 1fr;
        }
    }

    // AKHIR VIDEO
    // PRESTASI
    .prestasi {
        .prestasi-container {
            width: 80%;
            margin: 0px auto;
            margin-bottom: 5em;
            grid-template-columns: 1.5fr 1fr;

            .gambar-prestasi {
                img {
                    max-height: 25em !important;
                }
            }
        }
    }

    // AKHIR PRESTASI
    // DETAIL-MATERI
    .detail-materi {
        .materi-main {
            width: 70%;
            margin: 2em auto;
            box-shadow: -8px -8px 16px 0 rgba(255, 255, 255, 0.8),
                5px 5px 15px 0 rgba(35, 6, 68, 0.3);
        }

        .materi-side {
            ul {
                width: 80%;
                text-align: center;
                margin: 0px auto;

                li {
                    a {
                        text-align: center !important;
                        justify-content: center;
                    }
                }
            }
        }
    }

    // AKHIR DETAIL-MATERI
    // KEGIATAN
    .kegiatan {
        .kegiatan-container {
            width: 80%;
            align-items: center;
            margin: 0 auto;
            grid-template-columns: 1.5fr 1fr;

            img {
                max-height: 20em;
            }
        }
    }

    // AKHIR KEGIATAN
    // ABOUT
    .kontak {
        .kontak-container {
            width: 90%;
            margin: 0 auto;
            grid-template-columns: 1.2fr 1fr;
            gap: 2em;

            .map {
                width: 100% !important;
                border-radius: 0.3em;
                height: auto !important;
                min-height: 20em;
            }

            .kontak-words {
                padding: 0;
            }
        }
    }

    .about {
        .about-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 80%;

            .about-item {
                display: grid;
                grid-template-columns: 1fr;
                gap: 2em;

                img {
                    margin: 0px auto;
                    // max-height: 15em;
                }

                .about-words {
                    h3 {
                        margin-bottom: 0.5em;
                    }

                    p {
                        line-height: 2em;
                        text-align: justify;
                    }
                }
            }
        }
    }

    // AKHIR ABOUT
    // PENGURUS
    .pengurus {
        padding-top: 3em;

        h2 {
            margin-bottom: 0.5em;
        }

        .kategori {
            padding: 3em;
            width: 60%;
            margin: 0 auto;
            gap: 2em;

            img {
                width: 100%;
            }
        }

        .daftar-pengurus {
            .daftar-container {
                width: 80%;
                margin: 0 auto;
                grid-template-columns: repeat(auto-fit, minmax(160px, 0.4fr));

                .pengurus-container {
                    img {
                        height: 8em;
                    }
                }
            }
        }
    }

    // AKHIR PENGURUS
    // LOGIN
    .login {
        .login-container {
            padding: 2em;
            width: 50%;
        }
    }

    // AKHIR LOGIN
    // DASHBOARD
    .dashboard {
        h2 {
            text-align: center;
            margin-bottom: 0.5em;
        }

        .dashboard-container {
            // grid-template-columns: 1fr 1fr 1fr;
            display: flex;
            flex-wrap: wrap;
            // row-gap: 20vh;
            width: 70%;
            justify-content: center;
            align-items: center;

            a {
                flex-basis: 15%;
                margin: 0.5em;
                font-size: 4em;
            }
        }
    }

    // AKHIR DASHBOARD
    //CRUD
    .crud {
        .crud-container {
            margin: 0 auto;
            width: 70%;
            box-shadow: -8px -8px 16px 0 rgba(255, 255, 255, 0.6),
                5px 5px 15px 0 rgba(35, 6, 68, 0.2);
            padding: 3em 2em;
            border-radius: 0.3em;
        }
    }

    .crud-head {
        grid-template-columns: 1fr 1fr;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 2em;
        align-items: center;
        gap: 1em;

        .create {
            margin-bottom: 0;
        }

        .searchbar {
            margin: 0 auto;
            width: 100%;
        }

        .jumlah-anggota {
            margin-bottom: 0;
        }
    }

    // AKHIR CRUD
}

@media screen and (min-width: 961px) {
    /* NAVBAR */
    nav {
        ul {
            width: 40% !important;
            position: static !important;
            height: inherit !important;
            font-size: 0.8rem !important;
            flex-direction: row !important;
            opacity: 1 !important;
            transform: translateY(0) !important;
        }

        ul.admin-nav {
            width: 65% !important;
        }

        .menu-toggle {
            display: none !important;
        }

        .logo a {
            .gambar-logo {
                height: 2em !important;
            }
        }
    }

    /* AKHIR NAVBAR */
    // HERO
    .hero {
        padding: 4em 3em;

        .hero-words {
            width: 50%;
        }
    }

    // AKHIR HERO
    // MATERI-HOME
    .materi-home {
        .materi-container {
            grid-template-columns: repeat(auto-fit, minmax(180px, 0.4fr));

            h4 {
                padding: 0.5em 1em !important;
                font-weight: 500 !important;
            }
        }
    }

    // AKHIR MATERI-HOME
    // ABOUT
    .kontak {
        .kontak-container {
            width: 70%;
        }
    }

    // AKHIR ABOUT
    // PENGURUS
    .pengurus {
        .daftar-pengurus {
            .daftar-container {
                grid-template-columns: repeat(auto-fit, minmax(180px, 0.4fr));
            }
        }
    }

    // AKHIR PENGURUS
}

// LAPTOP
@media screen and (min-width: 1025px) {
    .searchbar {
        width: 35%;
    }

    // MATERI-HOME
    .materi-home {
        .materi-container {
            width: 80% !important;
            gap: 3.5em;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .materi-home.index {
        .materi-container {
            width: 80% !important;
            gap: 2em;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    // AKHIR MATERI-HOME
    // PRESTASI
    .prestasi {
        .prestasi-container {
            .gambar-prestasi {
                h1 {
                    font-size: clamp(6rem, 5vmax, 6.5rem) !important;
                    padding-left: 0.3em;
                }
            }
        }
    }

    // AKHIR PRESTASI
    // DETAIL-MATERI
    .detail-materi {
        .materi-main {
            img {
                max-height: 70vh;
            }
        }
    }

    // AKHIR DETAIL-MATERI
    // KEGIATAN
    .kegiatan {
        .kegiatan-container {
            width: 70%;
        }
    }

    // AKHIR KEGIATAN
    // PENGURUS
    .pengurus {
        .kategori {
            width: 40%;
        }

        .daftar-pengurus {
            .daftar-container {
                gap: 3em 2em;
                grid-template-columns: 1fr 1fr 1fr 1fr;

                .pengurus-container {
                    img {
                        height: 9em;
                    }
                }
            }
        }
    }

    // AKHIR PENGURUS
    // LOGIN
    .login {
        .login-container {
            width: 30%;
        }
    }

    // AKHIR LOGIN
    // CRUD
    .crud {
        .crud-container {
            width: 40%;
        }
    }

    // AKHIR CRUD
}
